
.fan__main-title {
  text-anchor: middle;
  fill: black;
}

.fan__over-title--shadow {
  text-anchor: middle;
  fill: white;
  stroke: white;
  stroke-width: 3;
}

.fan__over-title {
  text-anchor: middle;
  fill: black;
}

.fan__over-title__text {
  dominant-baseline: middle;
}

